@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
body {
  font-family: "Nunito", sans-serif;
}
.text-div {
  height: 2em;
}

.text {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
  height: 2em;
  font-weight: 200;
  font-size: 1.4em;
}

.status-text {
  opacity: 0.5;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  font-style: italic;
}

.input-text {
  width: 200px;
}

.status-class input {
  width: 300px;
  font-size: 1.1em;
  height: 2.8em;
}

.demolink {
  background-color: bisque;
}
